.button {
  border: 1px, #d6d6d6, solid;
  border-radius: 7px;
  background-color: #dae1e7;
  cursor: pointer;
  text-align: center;

  &.big {
    padding: 10px 20px;
    font-size: 17px;
  }

  &.medium {
    padding: 7px 15px;
    font-size: 15px;
  }
}
