.burgerButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
  width: 31px;
  height: 31px;
  padding: 3px;
  background-color: white;
  border: 2px solid #dae1e7;
  cursor: pointer;
}

.layer {
  height: 6px;
  background-color: #dae1e7;
  border-radius: 7px;
}
