.table {
  width: 100%;
  padding: 2%;
  border-collapse: collapse;
}

th {
  position: sticky;
  background-color: #eaedf1;
}

th,
td {
  padding: 20px;
  border: 1px, #d6d6d6, solid;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9fafb;
}
