.catalog {
  display: flex;
  width: 100%;
}

.aside {
  flex: 1 1;
  padding: 3%;
  background-color: #f9fafb;

  &.small {
    flex: 1 10;
  }
}

.btn-close {
  display: none;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  border: 1px, #d6d6d6, solid;
  border-radius: 7px;
}

.main {
  flex: 3 2;
  height: 700px;
  overflow: auto;

  &.big {
    flex: 5 1;
  }

  &.smallDevice {
    height: 1000px;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}
