.filterPanel {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    margin: 7px 7px 10px;
  }
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  button {
    margin-left: 7px;
    margin-top: 5px;
  }
}

.title {
  font-size: 20px;
}
